body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(43, 42, 42);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  width: 200px;
  height: 700px;
  background-color: rgb(11, 11, 11);
  margin: 50px auto;
  border-style: none;
  border-radius: 8px;
  color: rgb(156, 156, 156);
  font-size: 12px;
}
.header {
  line-height: 10px;
  text-align: center;
}
.header h2 {
  color: white;
}
.header p {
  font-size: 14px;
}
.header a {
  text-decoration: none;
  color: white;
}
.header--profile_image {
  width: 100%;
  /* object-fit: contain;  */
}
.buttons {
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons button {
  width: 80px;
  height: 30px;
}
.main {
  padding: 0 10px;
}
.section h3 {
  color: white;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
